USE [master]
GO
/****** Object:  Database [RunningLog]    Script Date: 2023-04-25 11:19:20 PM ******/
CREATE DATABASE [RunningLog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RunningLog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RunningLog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RunningLog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RunningLog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RunningLog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RunningLog]
GO
/****** Object:  User [Coach]    Script Date: 2023-04-25 11:19:20 PM ******/
CREATE USER [Coach] FOR LOGIN [Coach] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Coach]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 2023-04-25 11:19:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[RunID] [int] NOT NULL,
	[RunnerID] [int] NOT NULL,
	[Date] [smalldatetime] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runners]    Script Date: 2023-04-25 11:19:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runners](
	[RunnerID] [int] IDENTITY(1,1) NOT NULL,
	[First] [nvarchar](50) NOT NULL,
	[Last] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Display] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Icon] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runs]    Script Date: 2023-04-25 11:19:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runs](
	[RunID] [int] IDENTITY(1,1) NOT NULL,
	[RunnerID] [int] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
	[Distance] [float] NOT NULL,
	[Time] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Effort] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Runners]    Script Date: 2023-04-25 11:19:21 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Runners] ON [dbo].[Runners]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
