.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.smalltext {
  font-size: xx-small;
  padding-bottom: 0;
  font-style: italic;
  width: 150px;
}

.distanceTime {
  /* border: #61dafb;
  border-style: dashed; */
  width: 150px;
}

/*temp class for testing*/
/* .activityTable { 
  border: #61dafb;
  border-style: dashed;
} */

.activityTableDate {
   /* border: #61dafb;
  border-style: dashed; */
  text-align: right;
  width: 26%;
}

.activityTableTitle {
   /* border: #61dafb;
  border-style: dashed; */
  width: 74%;
}

.wide {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.096) !important;
  border-style: dashed;
  border-color: #61dafb;
}

.outline {
  border-style: dashed;
  border-color: #61dafb;
}
